@import '../../styles/primaryColors.scss';

.media-container{

	$thumbSize: 100px;
	height: 130px;
	border: 1px solid $themeSignature;
	border-radius: 10px;
	transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
	color: $themeSignature;
	position: relative;
	
	&:hover{
		background-color: $themeSignature;
		color: black;
		text-decoration: none;
		a {
			color: black;
		}
		.link > svg{
			fill: black;
		}
		.media-body{
			p:last-child {
				color: black;
			}
		}
	}


	.media-body{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		p:last-child{
			color: white; display: inline;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	.thumbImg{
		height: $thumbSize;
		width: $thumbSize;
		border-radius: 50%;
	}

	a{
		color: white;
	}

	.link {
		$arrow-size: 30px;
		// border-right: 1px solid rgb(21, 21, 21);
		svg{
			height: $arrow-size;
			width: $arrow-size;
			fill: $themeSignature;
		}
	}
}